@using TaskManager.Srv.Model.ViewModel;

<td colspan="4">
    <MudCard class="wrapper" id="animate">
        <MudCardContent class="asd">
            <Discussion></Discussion>
            <Milestone></Milestone>
            <ConnectingWi></ConnectingWi>
        </MudCardContent>
    </MudCard>
</td>