@using TaskManager.Srv.Model.ViewModel;

<td colspan="4">
    <MudCard>
        <MudCardContent class="wrapper">
            <MudText class="descriptionText"><b>Leírás</b></MudText>
                <MudTextField class="description" style="margin-top: 0px;" T="string" Variant="Variant.Text" DisableUnderLine="true" Lines="7"/>
            <Milestone></Milestone>
            <ConnectingWi></ConnectingWi>
        </MudCardContent>
    </MudCard>
</td>