@using TaskManager.Srv.Model.ViewModel;

<td colspan="4">
    <MudCard class="wrapper">
        <MudCardContent >
            <Discussion></Discussion>
            <Milestone></Milestone>
            <ConnectingWi></ConnectingWi>
        </MudCardContent>
    </MudCard>
</td>