<MudText class="discussionText"><b>Csevegés</b></MudText>
<div class="discussionDiv">
    <MudCard class="discussion" style="margin-top: 0px;"></MudCard>
    <MudTextField class="discussionInput" Lines="3" T="String" DisableUnderLine="true" FullWidth="true" Margin="0"  Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Send"></MudTextField>
</div>
