*::-webkit-scrollbar-track {
	border-radius: 8px;
	background-color: transparent;
	border: 1px solid rgb(255, 255, 255, .1);
}

.wi {
	max-height: 28.5em;
	overflow: auto;
	margin: 0%;
}

.wi-text {
	float: left;
	font-weight: bold;
}

.connecting-wi-div {
	width: 49%;
	float: left;
	display: grid;
	margin-left: 2%;

}

.wi-new {
	display: inline-flex;
	width: 30%;
}

.wi-button-span {
	display: grid;
	margin: 3% 0 0 5%;
}

.wi-button {
	width: 10%;
	height: 70%;
	border: 1px solid rgb(255, 255, 255, .1);
	padding: 5% 0 0 0;
	margin: 6% 0 0 0;
}

.wi-number {
	margin: 5% 0 0 0;
}

.wi-first-div {
	display: inline-flex;
	border: none;
	font-size: 15px;
	width: 100%;
}

.wi-first-div span {
	font-size: 13px;
	margin: 0 0 0 1%;
	padding: 0 3% 0 0;
}
