.milestone-text {
    float: left;
    font-weight: bold;
    padding-bottom: 7px;
}

.milestone {
    max-height: 15em;
    overflow: auto;
    animation: table_animation 300ms ease-in-out forwards;
    transform-origin: top center;
    margin-top: 0px;
    background-color: #53389F;
    border: 1px solid rgb(255, 255, 255, .1);
}

.milestone-div {
    width: 49%;
    float: left;
    display: grid;
    margin-left: 2%;
}

.mud-list-item {
    border: 1px solid rgb(255, 255, 255, .1);
    height: 4em;
}

.name-date-text {
    float: left;
    display: inline-flex;
    position: absolute;
    top: 30%;
    width: 85%
}

.add-btn {
    float: right;
    width: 3%;
    margin: 0 0 0 14%;
    padding: 0;
}

.sub-btn {
    width: 100%;
    float: right;
    padding: 0;
}

.add-delete-done-button {
    float: right;
}

.milestone-form-1 {
    width: 70%;
}

.milestone-form-1 {
    display: flex;
}

.milestone-text:hover {
    cursor: pointer;
}

.milestone-th{
    width: 17%;
}

.milestone-delete-done {
    width: 13%;
}

.th {
    overflow: hidden;
}