.milestone-text {
	float: left;
	font-weight: bold;
}

.milestone {
	max-height: 13em;
	overflow: auto;
	animation: table_animation 300ms ease-in-out forwards;
	transform-origin: top center;
}

.milestone-div {
	width: 49%;
	float: left;
	display: grid;
	margin-left: 2%;
}

.mud-list-item {
	border: 1px solid rgb(255, 255, 255, .1);
	height: 4em;
}

.name-date-text {
	float: left;
	display: inline-flex;
	float: left;
	position: absolute;
	top: 30%;
}

.add-btn {
	float: right;
	width: fit-content;
	display: flex;
	text-align: end;
	align-content: end;
	align-items: end;
	justify-content: end;
	justify-items: end;
}

.add-delete-done-button {
	float: right;
}


.milestone-text:hover {
	background-color: rgba(52,52,60,255);
	cursor: pointer;
}