*::-webkit-scrollbar-track {
	border-radius: 8px;
	background-color: transparent;
	border: 1px solid rgb(255, 255, 255, .1);
}

.milestone-text {
	float: left;
	padding: 0 0 1% 0;
	font-weight: bold;
}

.milestone-div {
	width: 49%;
	float: left;
	display: grid;
	margin-left: 2%;
}
