* {
    animation: table_animation 2s linear 0s steps(1, start) normal forwards;
}

.new-task-button {
    float: right;
}

.task-title {
    float: left;
}

.table {
    display: block;
    background-color: transparent;
}

.select-row {
    width: 15%;
    padding: 0;
}

.cell {
    width: 40%;
}

.dropdown-button {
    min-width: 2.5em;
    font-size: 15px;
    float: right;
}

.pager-content {
    background-color: transparent;
    width: 100%;
}

.pagination {
    padding: 4%;
}

.tr {
	width: 100%;
}
