
<MudStack>
    @foreach(var project in _projects)
    {
        <a href="/projects/@project.TechnicalName/tasks">
            <MudCard Style="width: 100%">
                <MudText Typo="Typo.body1" >@project.Name
                </MudText>
            </MudCard>
        </a>
    }
</MudStack>
