
<MudStack>
    @foreach(var project in _projects)
    {
        <a href="/projects/@project.TechnicalName/tasks">
            <MudCard class="body">
                <div class="paper">
                    <MudPaper></MudPaper>
                </div>
                <MudText Typo="Typo.body1" >@project.Name
                </MudText>
            </MudCard>
        </a>
    }
</MudStack>