.card {
	height: 70px;
	border-radius: inherit;
	border-bottom: 1px solid rgb(255, 255, 255, .1);
	display: flex;
	align-items: center;
	padding-left: 20px;
}

.border {
	border: 1px solid rgb(255, 255, 255, .1);
	border-bottom: none;
	border-radius: 5px;
	overflow: hidden;
}

.margin-bottom {
	margin-bottom: 10px;
}

.comment {
	white-space: pre-line;
	margin-right: 1%;
}

.element {
	margin-top: 0.1%;
	display: flex;
	height: 3em;
}

.paper {
	background-color: darkgray;
	width: 50px;
	height: 50px;
	border-radius: 5px;
	margin-right: 20px;
}

.commentPaper {
	background-color: purple;
	display:flex;
	justify-content:center;
	align-items:center;
	float: left;
	width: 30px;
	height: 30px;
	border-radius: 5px;
	margin-right: 1%;
}

.userName {
	margin: 0;
	font-size: 14px;
}

.select-row {
	width: 15%;
	padding: 0;
}

.papertext {
	display: flex;
	background: none;
	justify-content: center;
	padding-top: 6px;
	font-size: 25px;
}

.textstyle {
	background-color: transparent;
	border-radius: 0;
}

.search {
	padding-bottom: 10px;
}

.box:hover {
	background-color: #25252C;
	cursor: pointer;
}

.wrapper {
	width: 100%;
	overflow: auto;
	max-height: 33em;
	padding-bottom: 15px;
}

.discussionText {
	padding: 0.1%;
}

.discussion {
	max-height: 25em;
	overflow: auto;
	margin: 0%;
	float: left;
}

.discussionDiv {
	width: 45%;
	float: left;
	display: grid;
}

.discussionInput {
	float: left;
	width: 20%;
	border: 1px solid rgb(255, 255, 255, .1);
	border-radius: 5px 5px 0px 0px;
	padding: 0 5px 0 5px;
	margin: 0;
	max-height: 100px;
}

.milestoneText {
	position: relative;
	bottom: 15%;
	width: 53%;
	float: right;
	padding: 0.1%;
}

.milestoneText:hover {
	background-color: #38343c;
	cursor: pointer;
}

.milestone {
	position: relative;
	float: right;
	padding: 0.3%;
	height: 34%;
	width: 53%;
	bottom: 17%;
	border: 2px solid transparent;
}

.connectingWiText {
	position: relative;
	bottom: 16%;
	width: 53%;
	float: right;
	padding: 0.1%;
}

.connectingWi {
	bottom: 17%;
	width: 53%;
	padding: 0.3%;
	float: right;
	border: 2px solid transparent;
}

.milestone:hover, .connectingWi:hover {
	border: 2px solid rgb(255, 255, 255, .1);
	border-radius: 5px;
}	

.cell {
	width: 40%;
}

.table {
	display: block;
	background-color: transparent;
}

.pagination {
	border-top: 1px solid #4a4b54;
	padding: 4%;
}

.pagerContent {
	background-color: transparent;
	width: 100%;
}

.button {
	min-width: 2.5em;
	font-size: 15px;
	float: right;
}

.taskTitle {
	float: left;
}

.newTaskButton {
	float: right;
}