.card {
	height: 70px;
	border-radius: inherit;
	border-bottom: 1px solid rgb(255, 255, 255, .1);
	display: flex;
	align-items: center;
	padding-left: 20px;
}

.border {
	border: 1px solid rgb(255, 255, 255, .1);
	border-bottom: none;
	border-radius: 5px;
	overflow: hidden;
}

.margin-bottom {
	margin-bottom: 10px;
}

.element {
	margin-left: 10px;
	margin-top: 2px;
	display: flex !important;
	height: 40px;
}

.paper {
	background-color: darkgray;
	width: 50px;
	height: 50px;
	border-radius: 5px;
	margin-right: 20px;
}

.papertext {
	display: flex;
	background: none;
	justify-content: center;
	padding-top: 6px;
	font-size: 25px;
}

.textstyle {
	background-color: transparent;
	border-radius: 0;
}

.search {
	padding-bottom: 10px;
}

.box:hover {
	background-color: #25252C;
	cursor: pointer;
}

.wrapper {
	width: 100%;
	overflow: hidden;
	height: 230px;
}

.descriptionText {
	position: relative;
	bottom: 1%;
	width: 45%;
	padding: 0.1%;
}

.description {
	position: relative;
	width: 45%;
	padding: 0.3%;
	margin: 0%;
	float: left;
	border: 2px solid transparent;
}

.milestoneText {
	position: relative;
	bottom: 15%;
	width: 53%;
	float: right;
	padding: 0.1%;
}

.milestone {
	position: relative;
	float: right;
	padding: 0.3%;
	height: 34%;
	width: 53%;
	bottom: 17%;
	border: 2px solid transparent;
}

.connectingWiText {
	position: relative;
	bottom: 16%;
	width: 53%;
	float: right;
	padding: 0.1%;
}

.connectingWi {
	position: relative;
	bottom: 17%;
	height: 34%;
	width: 53%;
	padding: 0.3%;
	float: right;
	border: 2px solid transparent;
}

.description:hover, .milestone:hover, .connectingWi:hover {
	border: 2px solid rgb(255, 255, 255, .1);
	border-radius: 5px;
}	

.cell {
	width: 5%;
}

.table {
	display: block;
	background-color: transparent;
}

.pagination {
	position: fixed;
	border: none;
	left: 50%;
	bottom: 0%;
}